html{
  font-size: 62.5%;
  font-family: "Gill Sans", sans-serif;
  background: #FAFAFA;
  color: white;
}

:root{
  --main-color: #008080;
  --top-color: Maroon;
}
*{
  box-sizing: border-box;
}

body{
  margin: 0;
}


nav{
  position: fixed;
  top: 0;
  width: 100vw;
  background: var(--top-color);
  display: flex;
  justify-content: space-around;
  z-index: 1;
  border-bottom: 0.5vh solid #FAFAFA;
}

.nav-items{
  padding: 2vh 3.5vw;
  font-size: 2rem;
  font-weight: 600;
  text-decoration: none;
  }

  #nav-bar-space{
    width: 45vw;
  }

#welcome-section{
  margin-top: 6.5rem;
  display: flex;
  justify-content: center;
  background-color: var(--top-color);
  border-radius:0 0 35% 20%;
  padding-bottom: 7vh;
  width: 100vw;
 
}

#wave{
  rotate: -35deg;
  transform-origin: 50% 100%;
  animation: waving 1.5s linear;
  font-size: 20rem;
  padding: 0;
  margin: 0;

}

@keyframes waving{
  0%{
    rotate: -35deg;
    transform-origin: 50% 100%;
  }
  50%{
    rotate: 10deg;
    transform-origin: 50% 100%;
  }
  100%{
    rotate: -35deg;
    transform-origin: 50% 100%;

  }
}


h1{
  font-size: 5rem;
  margin-top: 9rem;
  margin-bottom: 0;
  padding-left: 1rem;

}

ul{
  margin-bottom: 2rem;
  text-align: left;
  list-style-type: none;
  font-size: 2rem;
  padding-left: 1rem;
}


h2{
  font-size: 3.5rem;
  margin: 0;
  padding: 5vh;
  font-weight: 900;
  color: var(--main-color);
  text-align: center;

}


#projects-content{
  padding-top: 10px;
  padding-left: 5vw;
  padding-right: 5vw;
  padding-bottom: 5vh;
  background: var(--main-color);
  border-radius: 25% 20% 0 0; 
  text-align: center;
  width: 100vw;
  
}

a{
  color: white;
  text-decoration: none;  
}


.project-title{
  padding: 0;
  margin-left: 0;
  font-size: 3rem;

}

.project-tile{
  display: block;
  align-items: center;
}

figure, .icon{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.frame{
  height: auto;
  min-height: 550px;
  min-width:450px; 
  width: calc(40vh+50px);
  border-radius: 15%;
  border: 7px #FAFAFA solid;
  background: #002244;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}



img{
  height: auto;
  min-width: 400px;
  width: 40vh;
  object-fit: contain;

}


i.material-symbols-outlined{
  font-size: max(400px, 40vh);
}

figcaption, .icon-caption, .project-links{
  margin-top: 2rem;
  font-size: 2rem;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
  max-width:400px; 
  width: 44vh;

}

.project-links{
  display: inline;
}


.projects{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: align-items;
  }


hr{
  height: 5px;
  border: 0px;
}

footer{
  background-color: maroon;
  color: white;
  padding-left: 5vw;
  padding-bottom: 1vh;
  width: 100vw;
}

@media all and (max-width: 500px){

  html{
    font-size: 12px;
  }

  #nav-bar-space, #wave, #about-me{
    display: none;
  }

  #projects-content{
    border-radius: 10% 7% 0 0; 
    padding-left: 0px;
    padding-right: 0px;
  }

 .project-tile{
  display: block;
  align-items: center;
}

figure, .icon{
  margin-left: 0;
  margin-right: 0;
}

.frame{
  height: auto;
  width: 80vw;
  min-width: 0;
  min-height: 0;
  padding-left: 0;
  padding-right: 0;
  border: 5px #FAFAFA solid;
  margin-top: 5vh;
}



img{
  margin-left: 0;
  height: auto;
  min-width: 0px;
  width: 80vw;
  object-fit: contain;

}



figcaption, .icon-caption, .project-links{
  margin-top: 2rem;
  font-size: 2rem;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
  max-width:400px; 
  width: 44vh;

}

.project-links{
  display: inline;
}


.projects{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: align-items;
  }
  

  i.material-symbols-outlined{
    font-size: min(33vw, 370px);
}
}
