:root{
    --main-color: #FAFAFA;
    --font-color: #222222;
    --second-font-color: white;
    --accent-color: #fbe2ce ;
    --background-color: #dbbda7;
    --second-background-color: #575f78;
}

html{
    font-size: 62.5%;
    font-family: "Lato", sans-serif;
    background: var(--second-background-color);
    max-width: 100vw;

}
  

*{
    box-sizing: border-box;
}
  
body{
    margin: 0;
}
 

nav{
    position: fixed;
    top: 0;
    width: 100%;
    background: var(--background-color);
    display: flex;
    justify-content: right;
    gap: 1.5rem;
    z-index: 1;
    padding: 2vh 2vw;



}


.nav-items, svg{
    width: 1.5rem;
    height: 2.5rem;
    font-size: 0.5rem;
    font-weight: 600;
    text-decoration: none;
    color: var(--second-font-color);
    fill: var(--second-font-color);
}
    
  

  
#welcome-section{
    height: 85vh;
    width: 100%;
    background: linear-gradient(var(--background-color)10%, var(--second-background-color));
    color: var(--second-font-color);
    border-radius:0 0 90% 80%;
    text-align: center;
    border-bottom: 0.5vh ;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/*
#wave{
    rotate: -35deg;
    transform-origin: 50% 100%;
    animation: waving 1.5s linear;
    font-size: 20rem;
    padding: 0;
    margin-bottom: 1rem;
    margin-top: -10rem;
    opacity: 0;
}
  
@keyframes waving{
    0%{
        rotate: -35deg;
        transform-origin: 50% 100%;
        opacity: 1;
    }

    50%{
        rotate: 10deg;
        transform-origin: 50% 100%;
    }
    
    99%{
        rotate: -35deg;
        transform-origin: 50% 100%;
        opacity: 1;

    }
    100%{
        rotate: -35deg;
        transform-origin: 50% 100%;
        opacity: 0;

    }
}
*/

h1, #greetings{
    font-size: 8rem;
    margin: 0;
}
  
.self-introduction{
    width: 60%;
    margin: 0 auto;
}

.self-introduction, #Aspiration-line{
    font-size: 2rem;
    }

#Aspiration-line{
    display: flex;
    justify-content:center;
    width: 100%;
    position: relative;
    height:fit-content;
    color:#222222;
    margin: 0 auto 2rem auto;
    padding:0;
    text-align:center;
    }


#BA, #RevOps, #MarOps, #SalesOps{ 
    display: inline;
    position: absolute;
    animation-duration: 2.5s;
    animation-fill-mode: backward;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    opacity: 0;
    color: var(--second-background-color);
    font-weight: 1000;

    
 

}

#BA{
    animation-name: BA;
}

#RevOps{
    animation-name: RevOps;
}

#MarOps{
    animation-name: MarOps;
}

#SalesOps{
    animation-name: SalesOps;
}

/*
#point-down{
    animation: catch-attention 1.5s linear;
    opacity: 1;
}
      
@keyframes catch-attention{
    0%{
        opacity: 0;
    }
        
    100%{
        opacity: 0;

    }
}
*/



@keyframes BA{
    0%{
        display: none;
        opacity: 0;
    }

    1%{
        display: inline;
        opacity: 1;
    }

    24%, 99%, 100%{
        display: none;
        opacity: 0;
    }
}


@keyframes RevOps{
    0%, 24%{
        display: none;
        opacity: 0;
    }

    25%{
        display: inline;
        opacity: 1;
    }

    49%, 99%, 100%{
        display: none;
        opacity: 0;
    }
}


@keyframes MarOps {
    0%, 49%{
        display: none;
        opacity: 0;
    }

    50%{
        display: inline;
        opacity: 1;
    }

    75%, 99%{
        display: none;
        opacity: 0;}

}

@keyframes SalesOps {
    0%, 74%{
        display: none;
        opacity: 0;
    }

    75%, 98%{
        display: inline;
        opacity: 1;
    }
     100%{
        display: none;
        opacity: 0;
    }

}

h2{
    font-size: 3.5rem;
    margin: 0;
    padding: 5vh 0 8vh 0;

    color: var(--second-font-color);
    text-align: center;
    
}


#arrow{
    border-radius: 90% 80% 0 0 ;
    background: var(--main-color);
    height: 50vh;
    width: 95%;
    margin: 0 auto;
}

#projects-content{
    background:  var(--main-color);
    width: 95%;
    margin: -5vh auto 10vh auto;

}


.project-tile{
    position: relative;
    bottom: 35vh;
    padding: 10vh 10vw;
    border-radius: 10% 5% 20% 15%; 
    text-align: center;
    width: 80vw;
    display: grid; 
    margin: 0 auto;
}




.project{
    color: var(--font-color);
    text-decoration: none;
    font-size: 1.5rem;
    width: 100%;
    margin-right: 0;
    padding-right: 0;
    display: grid;
}


.context{
    margin: -2.5rem auto;
    color: var(--background-color);
    
}

.skill{
    color: var(--second-background-color);
}

h3{
    margin: 3rem auto;
    font-size: 2.5rem;
    font-weight: 600;
    color: var(--background-color);
}


h4{
    color: var(--background-color);
    margin-bottom: 0;
}

h5{
    margin-top: 1rem;
    margin-bottom: 1rem;
    color: var(--second-background-color);
}

figure{
    margin-left: 0;
    margin-right: 0;
}

img{
    border-radius: 10% 10% 10% 10%;
    width: 50%;
    height: auto;
    margin: 3vh auto;
}
  
iframe{
    margin: 3vh auto;
    padding:0;
    height: 55vh;
    width: 100%;
    border-radius: 1% 1% 1% 1%;
    border:0;
}

figcaption{
    text-align: center; 
    margin-top: -2vh;
    font-style: italic;
}
  
.project-description{
    text-align: left;
    font-size: 1.5rem;
}
  

.cta{
    margin: 3vh auto 0;
    padding: 2vh;
    text-align: center;
    background: radial-gradient(closest-side at 20% 80%, var(--second-background-color), var(--background-color));
    color: var(--main-color);
    font-weight: 600;
    text-decoration: none;
    font-size: 1.5rem;
    width: fit-content;
    text-align: center;
    border-bottom: 0.3vh solid var(--background-color)

}


  hr{
    height: 0.5vh;
    display :none;
    width: 100%;
    margin: 0;
  }

  .repetitive{
    display: none;
  }
  
  footer{
    background-color: var(--background-color);
    padding-bottom: 5vh;
    width: 100%;
  }
  
  @media all and (max-width: 500px){

  
    #nav-bar-space, #wave, .concise{
      display: none;
    }

 
    
    h2{
        text-align: center;
    }

    p, li{
        font-size: 1.2rem;
    }
      
    figcaption{
        font-size: 1rem;
    }
      
    .project-tile{
        margin-top: 2vh;

        border-radius: 5% 3% 5% 6%;
        width: 92vw;
    }
    
    #welcome-section{
        height: 70vh;
    }
  }
