*{
  font-family: taroma, sans-serif;
  scroll-behavior: smooth;
  font-size: auto;
}

body{
  background-color: skyblue;
  height: auto;
  padding: 0.5rem; 
}

header{
  border-radius: 0 15% 0 0;
  background-color: tomato;
  margin: 5px 5px 5px 5px;
  padding: 5px 15px 5px 15px;
  border: 5px solid white;
  color: #FAFAFA;
}

#title{
  font-size: 25px;
}

#description, p{
  font-style: italic;
}
#survey-form{
  padding: 5px;
  margin: 25px 5px 5px 5px;
  color: white;
  background-color: #AABB;
  border: 5px solid white;
}

fieldset{
  padding-right: 10px;

  border: none;
}

label{
  width: 100%;
  font-size: 17px;
}

.non-select{
  width: 100%;
  max-width: 650px;
  font-size: 13px;
  padding: 5px 5px 5px 5px;
  color: black;
  margin-top: 10px;
  margin-bottom: 20px;

}

fieldset:nth-of-type(1),
fieldset:nth-of-type(2),
fieldset:nth-of-type(3){
  padding-right: 30px;
}

#rating{
  width: 100%;
  display: flex;
  justify-content: space-around;
  padding-left: 0;
  margin-left: 0;
}

.select-label{
  padding-bottom: 10px;
}

textarea{
  height: 100px;
}

.comments{
  margin-left: 0px;
}

#submit{
  background-color: tomato;
  width: 100px;
  border-width: 5px;
  font-size: 20px;
  color: white;
  border: none;
  margin: 15px;
  padding: 10px;
}

@media all and (min-width: 700px) {
  body{
    width: 700px;
    margin: auto;
  }
  #rating{
    width: 700px;
  }
}
