:root{
  --content-size: 1.5rem;
}

*{
  box-sizing: border-box;
}

body{
  background-color: darkblue;
  color: white;
  font-family: courier;
  margin: 5vw;
}

header{
  font-size: 2rem;
  text-align: center;
  margin-top: 5vh;
  margin-bottom: 5vh;
}

figure{
  display: block;
  margin: auto;
  max-width: 700px;
  width: 90vw;
  height: auto;
  text-align: center;
  font-size: 1.3 rem;
}

img{
  display: block;
  border-radius: 5%;
  max-width: 100%;
  height: auto;
  margin: auto;
  margin-bottom: 1rem;
 
}


a:link{
  color: yellow;
}

a:visited{
  color: white;
  }


a:hover{
  color: lightblue;
}



section{
  max-width: 850px;
  font-size: var(--content-size);
  display: block;
  margin: auto;
  line-height: var(--content-size);
  }
 

  #typing-sign{
    display: inline-block;
    height: var(--content-size);
    width: calc(var(--content-size)/2);
    background-color: white;
    margin-top: -10rem;
    vertical-align: sub;
    animation: blink 1.7s infinite;
    
  }

@keyframes blink{
  0%{
    background-color: white;
  }
  95%{
    background-color: white;
  }
  100%{
    background-color: darkblue;
  }
}
